*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#cd0000;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

}

.container{

    background:white;

    width:420px;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

h1{

    text-align:center;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border-radius:8px;

    border:1px solid #000000;

    font-size:16px;

}

button{

    width:100%;

    padding:12px;

    background:#cd0000;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#cd0000;

}

#resultado{

    margin-top:25px;

    text-align:center;

    font-size:20px;

    font-weight:bold;

}